:root{
    --body-color: #ccc;
    --nav-color:black;
    --bg-color:white;
}
.dark-theme{
    --body-color: #0a0a0a;
    --nav-color:#000;
    --bg-color:#000;
}

body{
    /* background-color: #ccc; */
    background-color: var(--body-color);
    transition: background 0.3s;
}
/* navbar */
*{
    margin:0;
    padding:0;
    font-family: 'poppins','sans-serif';
    box-sizing:border-box;
}
nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding:5px 5%;
    position:sticky;
    top:0px;
    z-index:1;
}
.logo{
    width:160px;
    margin-right:45px;
}
.nav-left,.nav-right{
    display:flex;
    align-items:center;
    
}
.nav-left ul li{
    list-style: none;
    display:inline-block;
    /* margin-left:10px; */
}
.nav-left ul li img{
    width:28px;
    margin:0 15px;
}
.nav-user-img img{
    width:40px;
    border-radius: 50%;
    cursor:pointer;
    /* margin-left:30px; */
}
.nav-user-img{
    margin-left:30px;
}
.searchbox{
    background-color: white;
    width:350px;
    border-radius:20px;
    display:flex;
    align-items:center;
    padding:0 15px;
    /* outline:none;
    margin-left:90px; */
}
.searchbox img{
    width:18px;
}
.searchbox input{
    width:100%;
    background-color: transparent;
    outline:none;
    border:0;
    padding:10px;
}
.online{
    position:relative;
}
.online:after{
    content:'';
    width:7px;
    height:7px;
    border:2px solid white;
    border-radius:50%;
    background:#41db51;
    position:absolute;
    top:0;
    right:0;   
    
}
.container{
    display:flex;
    justify-content: space-between;
    padding:13px 5%; 
}


/* slidebars */
.left-slidebar{
    flex-basis:25%;
    position:sticky;
    top:70px;
    align-self:flex-start;
}
.right-slidebar{
    background:var(--bg-color);
    flex-basis:25%;
    position:sticky;
    top:70px;
    align-self:flex-start;
    /* align-items:center; */
    padding:20px;  
    border-radius:4px;
    color:#626262; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.main-bar{
    flex-basis:47%;
}
/* left slidebar */
.imp-links a,.shortcut-links a{
    display:flex;  /*want the all a in single column*/
    text-decoration: none; /*to remove automatic lines for link text*/
    align-items:center;
    margin-bottom:30px;
    color:black;
    width:fit-content; /*?? */
    margin-left:15px;
}
.imp-links img{
    width:25px;
}
.imp-links a:last-child{
    color:#FF7676;
}
.imp-links{
    border-bottom:1px solid #ccc;
}
.shortcut-links img{
    width:40px;
    border-radius:4px;
    margin-right:15px;
}
.shortcut-links p{
    margin:25px 0;
    margin-left:15px;
    color:grey;
    font-weight: 500;
}
.sidebar-title{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom:18px;
}
.sidebar-title h4{
    font-size:16px;
    margin:0px;
}
.sidebar-title a{
    text-decoration: none;
    color:#FF7676;
    font-size:12px;
}
.right-event h4,p,a{
    margin:0;
    padding:0;
}
.event{
    display:flex;
    font-size:14px;
    margin-bottom:20px;
}
.left-event{
    border-radius:10px;
    height:65px;
    width:65px;
    margin-right:15px;
    padding-top:10px;
    text-align:center;
    position:relative;
    overflow:hidden;
    box-shadow:0 0 10px #ccc;

}
.event p{
    font-size:12px;
}
.event a{
    font-size: 12px;
    text-decoration: none;
    color:#D6D46D;
}
.left-event span{
    position: absolute;
    bottom:0;
    left: 0;
    width:100%;
    background: black;
    color:white;
    font-size: 10px;
    padding: 4px 0;
}
.sidebar-ads{
    width:100%;
    border-radius:4px;
    margin-bottom:20px;
}
.online-list{
    display:flex;
    align-items:center;
    margin-bottom:20px;
}
.online-list .online img{
    width:40px;
    border-radius:50%;
}
.online-list .online{
    width:40px;
    border-radius:50%;
    margin-right:15px;
}
.online-list .online::after{
    top:unset;
    bottom:5px;
}
.story-gallery{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}
.story{
    flex-basis:18%;
    padding-top:32%;
    position:relative;
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)),url(images/status-1.png);
    background-position: center;
    background-size: cover;
    border-radius:10px;
}
.story img{
    position:absolute;
    top:10px;
    width:45px;
    border-radius:50%;
    left:10px;
    border:5px solid white;
}
.story p{
    position: absolute;
    bottom:10px;
    width:100%;
    text-align: center;
    color: white;
    font-size: 14px;
}
.story1{
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)),url(images/status-1.png);
}
.story2{
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)),url(images/status-2.png);
}
.story3{
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)),url(images/status-3.png);
}
.story4{
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)),url(images/status-4.png);
}
.story5{
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5)),url(images/status-5.png);
}
.story.story1 img{
    top:unset;
    left:50%;
    bottom:40px;
    transform:translateX(-50%);
    border:0;
    width:35px;
}
.write-post-container{
    width:100%;
    background:var(--bg-color);
    border-radius:6px;      
    padding:20px;
    color:black;
}
.user-profile{
    display:flex;
    align-items:center;
}
.user-profile img{
    width:45px;
    border-radius:50%;
    margin-right:10px;
}
.user-profile{
    margin-bottom:-5px;
    font-weight:500;
    color:black;
}
.user-profile small{
    font-size:12px;
}
.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}
.post-input-container textarea{
    width:100%;  
    border:0;
    outline:0;
    border-bottom:1px solid #ccc;
    background:transparent;
    resize:none;
}
.add-post-links{
    display:flex;
    margin-top:10px;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items:center;
    color:black;
    margin-right:10px;
    font-size:13px; 
}
.add-post-links a img{
    width:20px;
    margin-right:10px;
}
.post-container{
    background: var(--bg-color);
    width:100%;
    border-radius:6px;
    padding:20px;
    color:black;
    margin:20px 0;
}
.user-profile span{
    font-size:13px;
    color:#9a9a9a;
}
.post-text{
    color:#9a9a9a;
    margin:15px 0;
    font-size:15;
}
.post-text span{
    color:black;
    font-weight: 500;
}
.post-text a{
    color: #1876f2;
    text-decoration: none;
}
.post-image{
    width:100%;
    border-radius:4px;
    margin-bottom: 5px;
}
.post-row{    /*layout ready*/
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.activity-icons div img{
    width:18px;
    margin-right:10px;
}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}
.profile-pic-icon{
    display:flex;
    align-items: center;
}
.post-profile-icon img{
    width:20px;
    border-radius:50%;
    margin-right:5px;
}
.post-row a{
    color:#9a9a9a;
}
.load-more-btn{
    display: block;
    margin:auto;
    cursor:pointer;
    padding:5px 10px;
    border:1px solid #9a9a9a;
    color:black;
    background: transparent; 
    border-radius: 4px;
}
.footer{
    text-align: center;
    color:#9a9a9a;
    padding:10px 0 20px;
    font-size: 13px;
}
.settings-menu{
    position:absolute;
    width:90%;
    max-width:350px;
    background:var(--bg-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius:4px;
    overflow:hidden;
    top:108%;
    right:5%;
    max-height:0;
    transition: max-height 0.3s;
}
.settings-menu-height{
    max-height:450px;
}
.user-profile a{
    font-size: 12px;
    color:#1876f2;
    text-decoration: none;
}
.settings-menu-inner{
    padding:20px;
}
.settings-menu hr{
    border:0;
    height:1px;
    background: #9a9a9a;
    margin:15px 0;
}
.settings-links{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.settings-links .settings-icon{
    width:38px;
    margin-left: 10px;
    border-radius: 50%;
} 
.settings-links a{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color:black
}
#dark-btn{
    position:absolute;
    top:20px;
    right:20px;
    background: #ccc;
    width:45px;
    border-radius: 15px;
    padding:2px 3px;
    cursor:pointer;
    transition:padding-left 0.5s, background 0.5s;
}
#dark-btn span{
    width:18px;
    height:18px;
    background: white;
    border-radius: 50%;
    display: inline-block;

}
#dark-btn.dark-btn-on{
    padding-left:23px;
    background:#0a0a0a;
}
/* profilepage */
.profile-container{
    padding:20px 15%;
    color:#626262;
}
.cover-img{
    width:100%;
    border-radius: 6px;
    margin-bottom: 14px;
}
.profile-details{
    background:var(--bg-color);
    padding:20px;
    border-radius: 4px;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}
.pd-row{
    display:flex;
    align-items: center;   
}
.pd-image{
    width:100px;
    margin-right: 20px;
    border-radius: 6px;
}
.pd-row div h3{
    font-size:25px;
    font-weight: 600;
}
.pd-row div p{
    font-size: 13px;
}
.pd-row div img{
    width:25px;
    border-radius:50%;
    margin-top: 20px;
}
.pd-right button{
    background:#ccc;
    border:0;
    outline:0;
    padding:6px 10px;
    display:inline-flex;
    align-items: center;
    color:#fff;
    border-radius: 3px;
    margin-left:3px;
    cursor:pointer;
}
.pd-right button img{
    height:15px;
    margin-right: 10px;
}
.pd-right button:first-child{
    background:#ccc;
    color:black;
}
.pd-right{
    text-align:right;
}
.pd-right a{
    background-color: #ccc;
    border-radius: 3px;
    padding:12px;
    display:inline-flex;
    margin-top:30px;
}
.pd-right a img{
    width:20px;
}